@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
*
{
    margin: 0 ; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
}
body
{
    background-color : #0DB4A0; 
    min-height : 100vh; 
}
header 
{
    position: fixed;
    top : 0 ; 
    left : 0 ; 
    width : 100%;
    display : flex ; 
    justify-content : space-between ; 
    align-items : center; 
    transition: 0,6s ;
    padding : 40px 100px ;
    z-index: 100; 
}
header  .sticky 
{
    padding: 5px 100px ; 
    background-color : #fff ; 
}
.sticky
{
    width : 100%;
    height : 8vh; 
    background:  #3f4746   ;
    background-size: cover;
}

header .logo 
{
    position: relative;
    font-weight : 700 ; 
    color : #fff ; 
    text-decoration: none;
    font-size: 1.5em ;
    text-transform: uppercase;
    letter-spacing: 2px ;
    transition: 0,6s;
}
header ul 
{
    position: relative;
    display : flex;
    justify-content: center;
    align-items : center ; 
}
header ul li 
{
    position : relative ; 
    list-style: none;
}
header ul li a 
{
   position : relative ; 
   margin : 0 15px ; 
   text-decoration: none;
   color : #fff  ; 
   letter-spacing: 2px ; 
   font-weight: 500px ; 
   transition: 0.6s ; 
}
.banner 
{
    position : relative ; 
    width : 100%;
    height : 10vh; 
    background:  #0DB4A0   ;
    background-size: cover;

}
/* ------------ Présentation Bloc 1  ----------------*/
.presentation
{
    position : relative ; 
    width : 100%; 
    height : 75vh;
    background : #0DB4A0 ; 
    background-size: cover;
    text-align : center;
}
.presentation h1 
{
    margin-top: 4em;
    text-align: center;
    position: relative;
}
.presentation p
{
    margin-top: 3em;
    text-align: center;
    position: relative;

}
/* ------------ Competence 2e Bloc ----------------*/
.competence
{
    position : relative ; 
    width : 100%; 
    height : 90vh;
    background :  #0D8CB4 ; 
    background-size: cover;
   
}

.competence a 
{
    position : relative;
    display: inline-block;
    padding : 12px 36px ; 
    margin: 10px 0 ; 
    color: #fff ; 
    text-decoration : none ; 
    text-transform: uppercase;
    font-size : 18px ;
    letter-spacing: 2px ; 
    border-radius: 40px;
    background : linear-gradient(90deg,  #0c5b74 , #0e8f80 ) ; 
    margin : 10em 5em 0 10em ; 
 
}
/* ------------ Portfolio 3em Block ----------------*/
.Portfolio 
{
    position : relative ; 
    width : 100%; 
    height :85vh; 
    background : #0DB4A0 ; 
    background-size: cover;
}
.Portfolio h2 
{
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 25em ;

}
/* ------------ Contact 4em Block ----------------*/

.Contact
{
    position : relative ; 
    width : 100%; 
    height : 78vh;
    background :  #0D8CB4 ; 
    background-size: cover;
}
.Contact h2
{
    text-align: center;
      position: relative;
    font-weight : 700 ; 
    color : #fff ; 
    text-decoration: none;
    font-size: 1.5em ;
    text-transform: uppercase;
    letter-spacing: 2px ;
    transition: 0,6s;
}
/* --------------- grid -----------------------------*/
.item1{
    grid-area: a;
}
.item2
{
    grid-area: b;
}
.item3
{
    grid-area: c;
}
.item4
{
    grid-area: d;
}
.grid-container {
    display: grid;
    grid-template-areas: " a  b b b b  c "
                         " a  b b b b  d "
                         " a  b b b b  . "
                         " a  b b b b  . ";
}


/* ---------------- Teamtreehouse -----------------*/
.TreeH
{
    position : relative ; 
}
.TreeH a 
{
    position : relative;
    display: inline-block;
    padding : 12px 36px ; 
    margin: 10px 50px ; 
    color: #fff ; 
    text-decoration : none ; 
    text-transform: uppercase;
    font-size : 18px ;
    letter-spacing: 2px ; 
    border-radius: 40px;
    background : linear-gradient(90deg,  #0c5b74 , #0e8f80 ) ; 
    margin : 10em 5em 0 10em ; 
}
/* -------------------- Tryhackme ---------------*/ 
.THack 
{
    position : relative ; 
    display: inline-block;
    padding : 6px 15px ; 
    color: #fff ; 
    text-decoration : none ; 
    text-transform: uppercase;
    border-radius: 40px;
    background : linear-gradient(90deg,  #0c5b74 , #0e8f80 ) ;  
    margin : 10em 40% 0 10em ; 
 
}



/* ------------ icone contact ----------------------------*/
.center
{
    display: flex;
    justify-content : left;
    margin-left: 25px;
    margin-top: 2.5em ;
    align-items : center;
}
.main
{
    height: 45vh ; 
}
.box
{
    flex-direction: column;
}

.box a 
{
    width : 60px ;
    height : 60px ; 
    display : flex ; 
    justify-content : center;
    align-items : center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(51,51,51) ; 
    margin: 0.1em;
    background: rgb(236,236,236) ; 
    position : relative ; 
    transition: all 0.4s;
}
.box a:hover
{
    transform : scale(0.9) ; 
}
.box a::before
{
    content: attr(data-text);
    position : absolute;
    top : 0;
    left : 70px ; 
    font-family: "Comfortaa", Helvetica, Arial, sans-serif;
    border-radius: 50px;
    width : 150 ; 
    height : 100% ; 
    display : flex ; 
    justify-content : center;
    align-items : center;
    font-weight : 1500 ; 
    color : rgb (51,51,51) ; 
    background : rgb(236,236,236) ; 
    display: none ; 
}
.box a:hover::before
{
    display: flex ; 
}
.box a::after 
{
    content : "";
    position : absolute ; 
    top: 0;
    left : 0 ; 
    border-radius: 50px ;
    width : 60px ;
    height : 60px ; 
    background: #e94057e1 ; 
    transform: scale(0);
    transition: all 0.4s ;  
}
.box a:hover::after
{
    transform : scale(0.8) ; 
}
.box a i {
    z-index : 20 ; 
    transition: all 0.4s ; 
}
.box a:hover i {
    color: white ; 
}







footer 
{
    background :  #0D8CB4 ; 
}

header .sticky .logo {
    color : #000;
}
header .sticky ul li a 
{
    color : #000;
}

/* ------------------ formulaire -------------------------*/ 

input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: #1255a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1872D9;
  }
  
  .container {
    /* Ajouter box-sizing */
    box-sizing : border-box;
    border-radius:5px;
    background-color:#0D8CB4;
    padding:20px;
    width: 100%;
    /* redéfinition 400 + 2*20 */
    max-width:100em;
    margin:0 5.5em ;
  }
  .formulaire h1 
  {
    color:#0DB4A0 ;
    width: 100%;
  }